{% extends "layout.njk" %}

{% block content %}

    <div class="conteudo">

        <div class="imagem-receita">
            <img src=" {{item.image}}" alt="imagem de {{ item.title }}">
        </div>

        <div class="conteudo-receita">
            <div class="titulo-receita">
                <h2>{{item.title}}</h2>
            </div>
            <div class="autor-receita">
                <h3>{{item.author}}</h3>
            </div>
        </div>

        <div class="ingredientes">

            <h1>Ingredientes</h1>
            <p class="mostraEsconde">Mostrar</p>
            <!-- Para o 'for' funcionar, todas as 3 varivaies precisam ter o mesmo nome em que aparecem no arquivo data.js-->
            <div class="texto1">
                {% for ingredients in item.ingredients %}
                    <li>{{ingredients}}</li>
                {% endfor %}
            </div>
        </div>

        <div class="Preparo">
            <h1>Modo de preparo</h1>
            <div class="texto">
                {% for preparation in item.preparation %}
                    <li>{{preparation}}</li>
                {% endfor %}
            </div>
        </div>

        <div class="Info-add">
            <h1>Informações adicionais</h1>
            <div class="texto">
                <p>{{item.information}}</p>
            </div>
        </div>

    </div>

{% endblock %}