        
{% extends "layout.njk" %}

{% block content %}

<div class="conteudo">
    <div class="receita-unica">
                    <div class="imagem-receita">
                        <img src=" {{item.image}}" alt="imagem de {{ item.title }}">
                    </div>

                    <div class="conteudo-receita">
                            <div class="titulo-receita">
                                <h2>{{item.title}}</h2>
                            </div>
                            <div class="autor-receita">
                                <h3>{{item.author}}</h3>
                            </div>
                    </div>
    </div>

    <div class="ingredientes">
        <div class="titulo">
            <h1>Ingredientes</h1>
        </div>
        <!-- Para o 'for' funcionar, todas as 3 varivaies precisam ter o mesmo nome em que aparecem no arquivo data.js-->
        <div class="list-texto">
             {% for ingredients in item.ingredients %}
                <li>{{ingredients}}</li>
             {% endfor %}
        </div>
    </div>

     <div class="Preparo">
        <div class="titulo">
            <h1>Modo de preparo</h1>
        </div>
        <div class="list-texto">
            {% for preparation in item.preparation %}
                <li>{{preparation}}</li>
             {% endfor %}
        </div>
    </div>

    <div class="Info-add">
        <div class="titulo">
            <h1>Informações adicionais</h1>
        </div>
        <div class="texto">
            <P>{{item.information}}</P>
        </div>
    </div>

</div>

<script src="scripts.js"></script>

{% endblock %}